html, body{ 
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: $main-bg-color;
	font-family: $main-font;
	color: $white-color;
	font-size: 100%;
}
ul{ 
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		padding: 0;
		margin: 0;	
	}
}
p {
	margin: 0;
}
@for $i from 1 through 6 {
	h#{$i} {
		margin: 0;
	}
}
.decor-sym{
	display: none;
	@media screen and (min-width: 500px){
		display: block;
		@include shadow-decor-text;
		color: $main-bg-color;
		opacity: 0.6;
		font-weight: 700;
		text-transform: uppercase;
		position: absolute;
		line-height: 1;
		&--t{
			font-size: 50em;
			top: 30%;
			left: 50%;
			transform: translateX(-50%);
			@media screen and (min-width: 650px){
				font-size: 60em;
				top: 28%;
			}
			@media screen and (min-width: 810px){
				font-size: 80em;
				top: 25%;
			}
		}
		&--e{
			font-size: 35em;
			bottom: 0;
			right: 30%;
		}
		&--p{
			font-size: 48em;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}

	}
}
.decor{
	position: relative;
	transform: rotate(90deg);
	@media screen and (min-width: 700px){
		transform: rotate(0);
		animation: decor-text 10s infinite ease;
	}
	&__text{
		font-size: 13em;
		font-family: $decor-font;
		font-weight: 900;
		opacity: 0.02;
		line-height: 1;
	}
	&__title{
		position: absolute;
		font-size: 1.5em;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-90deg);
	}
}
@keyframes decor-text {
	0%,100%{
		transform: rotate(0);
	}
	50%{
		transform: rotate(90deg);
	}
}

.map-icon{
	position: fixed;
	right: 0;
	bottom: 40%;
	width: 60px;
	height: 38px;
	font-size: 25px;
	background-color: darkred;
	color: $white-color;
	cursor: pointer;
	display: none;
	z-index: 10;
	border-top-left-radius: 17px;
	.fas{
		padding: 5px;
		&:hover{
			color: $white-color;
		}
	}
	&.active{
		display: block;
	}
}
.main-map{
	display: none;
	max-width: 100%;
	height: 300px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba($main-bg-color, .5);
		pointer-events: none;
	}
}