.second-section{
	min-height: 900px;
	max-width: 100%;
	position: relative;
	.img-wrapper{
		position: absolute;
		top: 0;
		left: 5%;
		@include shadow-decor-box;
		max-width: 90%;
		.second-image{
			max-width: 100%
		}
	}
	.second-content{
		&__text{
			font-size: 1.2em;
			line-height: 1.5;
			font-weight: 200;
			&:not(:last-child){
				margin-bottom: 1.5em;
			}
		}
	}
}


